.conteinerProducts {
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  width: 160px;
  height: 200px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.imgProduct {
  width: 160px;
  height: 120px;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.titleProduct {
  width: 116px;
  height: auto;

  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-left: 10px;
  padding-top: 10px;

  /* Color Secundario */

  color: #5171a5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.priceProduct {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  justify-items: center;
  margin-top: 5%;
  margin-left: 5%;
  color: #5171a5;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.conteinerProducts div{
  display: flex;
  width: 100%;
  height: 50px;
  justify-items: center;
  justify-content: end;
}
.conteinerProducts button {
  position: relative;
  right: 0.5em;
  width: 30px;
  height: 30px;
  background-image: url("../../img/mas.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-size: 100%;
  border-radius: 100%;
  margin-bottom: 12px;
}

@media (max-width: 330px) {
  .conteinerProducts {
    width: 280px;
    height: 340px;
  }
  .imgProduct {
    width: 280px;
    height: 230px;
}
.titleProduct{
  width: 70%;
  font-size: 30px;
}
.priceProduct{
  font-size: 25px;
}
.conteinerProducts button{
  width: 50px;
  right: 1em;
  height: 50px;
}
}