.conteinerProducts {
  display: flex;
  flex-direction: column;
  margin: 10px auto;

  width: 11em;
  height: 220px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.imgProduct {
  width: 11em;
  height: 120px;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.titleProduct {
  width: 120px;
  height: auto;

  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;

  /* Color Secundario */

  color: #5171a5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.priceProduct {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  justify-items: center;
  margin-top: 5%;
  margin-left: 5%;
  color: #5171a5;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.conteinerProducts div{
  display: grid;
  grid-template-columns: 55% 45%;
  width: 100%;
  position: relative;
  height: 50px;
  /* justify-items: center; */
  align-items: center;
}

@media (max-width: 370px) {
  .conteinerProducts {
    width: 290px;
    height: 380px;
  }
  .conteinerProducts div{
    grid-template-columns: 70% 30%;
  }
  .imgProduct {
    width: 290px;
    height: 230px;
}
.titleProduct{
  width: 60%;
  font-size: 30px;
}
.priceProduct{
  font-size: 25px;
}

}