.conteinerProducts{
display: flex;
flex-direction: row;
padding: 0px;
margin: 4px;
width: 95%;
height: 120px;
margin-bottom: 20px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.imgProduct{
width: 160px;
height: 120px;
border-radius: 10px;



/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.titleProduct{
width: 116px;
height: 18px;

font-family: 'Lilita One';
font-style: normal;
font-weight: 350;
font-size: 20px;
line-height: 25px;
padding-left: 10px;
padding-top: 10px;

/* Color Secundario */

color: #5171A5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.priceProduct{
    
width: 118px;
height: 18px;

font-family: 'Lilita One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 18px;
padding: 12px;
margin-top: 12px;
position: relative;
top: 55px;


/* Color Secundario */

color: #5171A5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.conteinerProducts button{
    position:relative;
    right: 40px;
    top: 74px;
    width: 30px;
    height: 30px;
    background-image: url('../../img/mas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: none;
    /* Color Secundario
    
    Color Secundario
    */
    border-radius: 100%;
}
