.categorias {
  width: auto;
  left: 16px;
  top: 125px;
  margin: 26px;

  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;

  text-align: center;

  /* Color Secundario */

  color: #5171a5;
}
.conteiner {
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}

.inputs {
  display: block;
  margin: 5%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 90%;
  height: 2.4em;
  padding: 5px;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #5171a5;

  background: #ffffff;
  /* Color Secundario

Color Secundario
*/
  border: 2px solid #5171a5;
  border-radius: 10px;
}

.textArea {
  display: block;
  margin: 5%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 90%;
  height: 7em;
  padding: 5px;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #5171a5;

  background: #ffffff;
  /* Color Secundario

Color Secundario
*/
  border: 2px solid #5171a5;
  border-radius: 10px;
}
.lista {
  border-radius: 20px;
  display: block;
  margin: 5%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.viewPurchaseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewPurchaseContainer h2 {
  color: #5171a5;
  font-family: "Lilita One";
  text-align: center;
}

.categoriasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divCartTitle {
  display: flex;
  flex-direction: column;
}

.cartTitle {
  margin: 16px;
  font-family: "Lilita One";
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: left;
  color: #5171a5;
}

@media (max-width: 450px) {
  .conteiner {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }

  .categorias {
    text-align: left;
  }

  .divCartTitle {
    text-align: left;
  }

  .cartTitle {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .categorias {
    text-align: left;
  }

  .divCartTitle {
    text-align: left;
  }

  .cartTitle {
    text-align: left;
  }

  .conteiner {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}
