* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: auto;
}

body {
  background-color: #F1EFDE !important; 
  padding-bottom: 80px;
}

:root {
  --font-color-blue: #5171a5;
}

.subtitle{
  margin: 10px;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: var(--font-color-blue)
}






